.pchart:last-child {
    margin-right: 0;
}
.pcontent{
    text-align: center;
    padding-left: 1.5%;
}
.pchart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-items: center
}