.pchart{
    height: 180px;
    width: 300px;
    display: block;
    margin-right: 20px;
    cursor:pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}
.pchart:last-child {
    margin-right: 0;
}
.pcontent{
    padding-left: 1.5%;
}
.pchart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}
