.scontent{
    text-align: center;
    overflow: auto;
    height: inherit;
}
.schart{
    height: 180px;
    width: 300px;
    display: block;
    /* margin-right: 20px; */
    cursor:pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    text-align: center;
    text-align: -webkit-center;
    align-content: center;
}

.schart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-content: space-around;
    align-items: start;
    justify-items: center;
    align-content: space-evenly;
}
