.hchart{
    height: inherit;
    width: 50%;
    display: block;
    margin-right: 20px;
    cursor:pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    text-align: center;
    text-align: -webkit-center;
    align-content: center;
}
.hchart:last-child {
    margin-right: 0;
}
.hcontent{
    height: 100%;
    /* text-align: center;
    justify-content: center; */
}
.hchart-container {
    justify-content: center;
    align-items: center;
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-gap: 10px;
    height: 70%;
}
