.hcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1.5%;
    padding-top: 1%;
}
.hchart {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center;
    height: 600px; /* Adjust the height as needed */
    width: 600px; /* Adjust the width as needed */
    margin-right: 20px;
    cursor:pointer;
    border: 1px solid #ccc;
    border-radius: 5%;
}
