body{
    overflow: hidden;
}
.page{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.548);
    padding-top: 100px;
    /* border: red solid; */
    height: 100vh;
    position: relative;
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/logocit-2.png'); /* Ensure the URL is correct */
    background-size: cover;
    background-position: center;
    filter: blur(7px); /* Adjust the blur radius as needed */
    z-index: -1; /* Ensure the background is behind the content */
}

.lcontent{
    height: 80%;
    text-align: center;
    justify-content: center;
    /* border: solid; */
    overflow: auto;
}
